@media screen and (min-width: 481px) and (max-width: 768px) {

    .main {
        margin: 0 auto;
    }
    #unite {
        flex-direction: column;
        margin: 0 auto;
    }

    #btn {
        display: inline-block;
        margin-left: 0;
    }

    .btn-btn {
        margin: 10px;
    }

}